body {
	background: snow;
	height: 100%;
}

/*****************/
/* CHAMP SELECT  */
/*****************/

.champ-div {
	width: 200px;
	display: inline-block;
}

#champ-main {
	width: 100%;
}

#champ-wrapper {
	width: 60%;
	background: goldenrod;
	padding: 1em;
	height: 70%;
	overflow: auto;
	display: inline-block;
}

#team-wrapper {
	display: inline-block;
	width: 35%;
	float: right;
	height: 70%;
	background: thistle;
	padding-left: 1em;
}

#team-wrapper h3{
	text-align: center;
}

#team-pics {
	width: 80px;
	display: inline-block;
	vertical-align: top;
}

.icon {
	width: 80px;
	margin-bottom: 5px;
}

#team-stats {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	margin-left: 10px;
}

#stat-numbers {
	width: 20px;
	display: inline-block;
	vertical-align: top;
}