body {
  background: #F2F2F2;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Marvel', sans-serif;
}

/*****************/
/* NAV BAR STUFF */
/*****************/
 
nav ul {
  list-style: none;
  background-color: rgb(12, 11, 11);
  background-color: rgba(12, 11, 11, 0.44);
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  width: 200px;
  border-bottom: none;
  height: 45px;
  line-height: 44px;
  font-size: 1em;
  display: inline-block;
}
 
nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #840010;
  background: rgba(60, 0, 8, 0.52);
}
 
nav a.active {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  color: #444;
  cursor: default;
}

#profile{
  position: relative;
}

#dropdown1 {
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    display:none;
    height: 60px;
    width: 200px;
    background-color: white;
    z-index: 20;
 }

#dropdown2 {
    position: absolute;
    top: 200%;
    left: 0;
    color: white;
    display:none;
    height: 60px;
    width: 200px;
    background-color: white;
    z-index: 20;
 }

.dropdown a {
  color: black;
}

 #profile:hover #dropdown1{
  display:block;
 }

  #profile:hover #dropdown2{
  display:block;
 }
/*****************/
/* MAIN PAGE HEADER */
/*****************/

h1 {
  color: white;
  padding-left: 5%;
}

#title{
  font-size: 50px;
  color: white;
  padding-left: 8%;
}

#main-wrapper {
  background-image: url("/images/Katarina.jpg");
  background-position: 0% 32%;
  box-shadow: 0 3px 10px #000;
  margin-bottom: 15px;
  font-family: 'Marvel', sans-serif;
}

.styled-select select {
    border-radius: 0;
    width: 14%;
    height: 30px;
    box-shadow: 0 0 13px #FFF6F6;
    border: 0;
    background: white;
    margin-bottom: 15px;
    font-size: 0.8em;
}

.styled-select span{
  padding-left: 5%;
  font-size: 1.2em;
  color: white;
}

/*****************/
/* SEARCH BAR    */
/*****************/
 #searchbar{
    border-radius: 0;
    width: 14%;
    height: 30px;
    box-shadow: 0 0 13px #FFF6F6;
    border: 0;
    background: white;
    margin-bottom: 15px;
    font-size: 0.8em;
    margin-right: 10px;
 }
/*****************/
/* CHAMP SELECT  */
/*****************/

.champ-div {
  width: 150px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.champ-div:hover .indiv-stat{
  padding: 1em;
  display: block;
  position: absolute;
  width: 200px;
  top: 76%;
  left: -32px;
  border-radius: 5px;
  background: rgba(255, 250, 250, 0.8);
  z-index: 1000;
}

.indiv-stat{
  display: none;
}

#champ-main {
  width: 100%;
}

#champ-wrapper {
  width: 55%;
  padding: 1em;
  height: 80%;
  overflow: auto;
  display: inline-block;
  margin-right: 20px;
}

#team-wrapper {
  display: inline-block;
  width: 33%;
  padding-left: 10px;
  margin-right: 2%;
  padding-top: 18px;
  vertical-align: top;
}

.champ-name{
  margin-bottom: 5px;
}

#team-wrapper h2{
  text-align: center;
  margin: 0px;
  text-shadow: 2px 3px 6px #292929;
  font-size: 2em;
  border-bottom: 1px solid black;
}

#team-wrapper p{
  text-align: center;
  margin: 0;
  border-bottom: 1px dotted green;
}

#team-pics {
  width: 80px;
  display: inline-block;
  vertical-align: top;
}

.icon {
  width: 80px;
  margin-bottom: 5px;
  position: relative;
}

#big-icon {
  box-shadow: 0 2px 9px #000;
  width: 100px;
}

#team-stats {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 15px;
}

#stat-numbers {
  width: 20px;
  display: inline-block;
  vertical-align: top;
}

#stat-numbers span{
    display: inline-block;
    margin-top: 1px;
    height: 22px;
}

#selectChamp{
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  box-shadow: 0 2px 9px #000;
  border-radius: 5px;
}

#selectChamp:hover {
  cursor: pointer;
  width: 60px;
/*  -webkit-transform:scale(.7);
  -moz-transform:scale(.7);
  -ms-transform:scale(.7);
  -o-transform:scale(.7);
  transform:scale(.7);*/
}
/*****************/
/* TEAMS PAGE    */
/*****************/


#user-teams {
  width: 100%;
  text-align: center;
}

#user-teams h1 {
  color: black;
  text-shadow: 2px 3px 6px #292929;
  margin-top: 50px;
}

#all-teams-wrapper {
  width: 90%;
  margin: 0 auto;
}

.team-images {
  background: black;
  position: relative;
  width:90%;
  margin: 0 auto;
  max-width: 1030px;
}
.team-images:before, .team-images:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: black;
  box-shadow: 0 35px 20px #582020;
  transform: rotate(-8deg);
}
.team-images:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.team-images img {
  display: inline-block;
  width: 19%;
  box-sizing: border-box;
  max-width: 200px;
}

#team-stats span{
  vertical-align: bottom;
  display: inline-block;
  height: 22px;
  width: 22px;
  background: url('https://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png');
}

#user-team-wrapper{
  background: url("/images/SKTT1splash.jpg");
  background-position: 0% 38%;
  box-shadow: 0 3px 10px #000;
  margin-bottom: 15px;
  height: 277px;
}

#user-team-wrapper span{
  padding-left: 5%;
  font-size: 1.2em;
  color: white;
}

#part2, #part1 {
  display:inline-block;
  vertical-align: top;
  margin: 30px 10px 30px 10px;
  font-size: 1.2em;
}


/*****************/
/* PROFILE PAGE    */
/*****************/
#profile-wrapper{
  background-image: url("/images/profile.jpg");
  background-position: 0% 32%;
  box-shadow: 0 3px 10px #000;
  margin-bottom: 15px;
  height: 277px;
}

#profile-div{
  display: inline-block;
  width: 50%;
  background: white;
  padding: 2em;
  border-style: outset;
  margin: 0 auto;
  color: black;
}

#profile-div h1 {
  color: black;
}
 
/*****************/
/* ABOUT PAGE    */
/*****************/
#about-wrapper {
  background-image: url("/images/about.jpg");
  background-position: 0% 32%;
  box-shadow: 0 3px 10px #000;
  margin-bottom: 15px;
  height: 277px;
}

/*****************/
/* FORM STUFF    */
/*****************/


.form-style-8{

    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #22454E;
    text-transform: uppercase;
    color: #CDCDCD;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"],
button{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #22454E;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/*for devices between 480-640px*/
@media only screen and (min-width:480px) and (max-width: 640px)  {
  #champ-wrapper{
    width: 100%;
    max-height: 250px;
    margin-bottom: 10px;
  }
  #team-wrapper{
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .champ-div:hover .indiv-stat{
  top: 100%;
  width: 200px;
  left: -40px;
  }
  #profile-div{
    width: 100%;
  }
  .team-images img{
    width: 19%;
  }
}

/*for devices less than 479 px*/
@media only screen and (max-width: 479px)  {
  nav li{
    margin: 0 auto;
    width: 70px;
  }
    #champ-wrapper{
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
  }
  #team-wrapper{
    width: 100%;
    text-align: center;
    float: none;
    margin: 0;
  }
  .champ-div:hover .indiv-stat{
  width: 200px;
  top: 100%;
  left: -40px;
  }
  #profile-div{
    width: 100%;
  }
  .team-images img{
    width: 15%;
  }
}