<main id="champ-main" ng-controller="ChampController as ChampCtrl">
	<div id="main-wrapper">

		<header>
			<nav>
				<ul>
					<li><a class="active" href="/">home</a></li>
					<li ng-if='!user'><a href="/signup">sign up</a></li>
					<li ng-if='!user'><a href="/login">log in</a></li>
					<li ng-if='user'><a href="/teams">my teams</a></li>
					<li id="profile" ng-if='user'><a href="/user/{{user._id}}/profile">profile</a>
						<div id="dropdown1" class="dropdown"><a href="/user/{{user._id}}/profile">my profile</a></div>
						<div id="dropdown2" class="dropdown"><a href="/" ng-click='logoutUser()'>logout</a></div>
					</li>
					<li><a href="/about">about</a></li>
				</ul>
			</nav>
		</header>

		<h1>LEAGUE OF LEGENDS</h1>
		<h1 id="title">TEAM BUILDER</h1>

		
		<div class="styled-select">

			<span> SEARCH CHAMPS: </span>
			<input id="searchbar" type="text" ng-model="searchBox" placeholder="ie. Katarina">
		    <select ng-model="filterItem.tag" ng-options="item.name for item in filterOptions.champ">
		    </select>
	    <br>
		</div>
	</div>


    <div id="champ-wrapper" >

    	<div ng-if="ChampCtrl.loading">
    		<h2>LOADING LATEST CHAMP DATA....</h2>
    		<iframe src="//giphy.com/embed/uR6julmSW90mk?html5=true" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    	</div>

        <div class="champ-div" data-ng-repeat="champ in ChampCtrl.champs | filter:searchBox | filter:customFilter">

       
           <h3 class="champ-name">{{champ.name}}</h3>
           	<img id="big-icon" class="big-icon animated bounceIn" ng-click="ChampCtrl.showInfo(champ)" src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{champ.key}}.png"><br>
            <div class="indiv-stat animated fadeIn">
            	<strong> {{champ.name}} {{champ.title}}</strong><br>
	            Armor: {{champ.stats.armor}}<br>
	            Armor Per Level: {{champ.stats.armorperlevel}}<br>
	            Attack Damage: {{champ.stats.attackdamage}}<br>
				Attack Damage per Level: {{champ.stats.attackdamageperlevel}}<br>
				Attack Range: {{champ.stats.attackrange}}<br>
				Attack Speed Offset: {{champ.stats.attackspeedoffset}}<br>
				Attack Speed Per Level: {{champ.stats.attackspeedperlevel}}<br>
				Crit: {{champ.stats.crit}}<br>
				Crit per level: {{champ.stats.critperlevel}}<br>
				HP: {{champ.stats.hp}}<br>
				HP per Level: {{champ.stats.hpperlevel}}<br>
				HP Regen: {{champ.stats.hpregen}}<br>
				HP Regen per Level: {{champ.stats.hpregenperlevel}}<br>
				Movement Speed: {{champ.stats.movespeed}}<br>
				MP: {{champ.stats.mp}}<br>
				MP per Level: {{champ.stats.mpperlevel}}<br>
				MP Regen: {{champ.stats.mpregen}}<br>
				MP Regen Per Level: {{champ.stats.mpregenperlevel}}<br>
				Spell Block: {{champ.stats.spellblock}}<br>
				Spell Block per Level: {{champ.stats.spellblockperlevel}}<br>
				Tags: <span ng-repeat="tag in champ.tags ">{{tag}} </span>
			</div>
        </div><br><br>
    </div>


    <div id="team-wrapper">
    	<h2>Assemble Your Team</h2>

    	<br>
    	<div id="team-pics">
    		<div ng-if="ChampCtrl.choice">
    			<img id="selectChamp" class="icon animated rollIn" ng-repeat="champ in ChampCtrl.choice track by $index" ng-click="ChampCtrl.remove($index)" src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{champ}}.png"/>
    		</div>
    	</div>
    	<div id="team-stats">
	         	<span></span>Armor: <br>
	            <span></span>Armor Per Level:<br>
	            <span></span>Attack Damage:<br>
				<span></span>Attack Damage per Level:<br>
				<span></span>Attack Range:<br>
				<span></span>Attack Speed Offset:<br>
				<span></span>Attack Speed Per Level: <br>
				<span></span>Crit: <br>
				<span></span>HP: <br>
				<span></span>HP per Level: <br>
				<span></span>HP Regen: <br>
				<span></span>HP Regen per Level: <br>
				<span></span>Movement Speed: <br>
				<span></span>MP: <br>
				<span></span>MP per Level: <br>
				<span></span>MP Regen: <br>
				<span></span>MP Regen Per Level: <br>
				<span></span>Spell Block:<br><br><br>
    	</div>
    	<div id="stat-numbers">
			<span ng-repeat="stat in ChampCtrl.statsObj">
			{{formatNumber(stat)}}</span>
    	</div>

    	<div ng-if="user">
    		 <form ng-if="ChampCtrl.full" id='addTeam'>
                    <strong>Team Name:</strong>
                    <input type='text' ng-model='ChampCtrl.name' placeholder='Team Name'/>
                    <button ng-click='ChampCtrl.addTeam()'>Save This Team</button>
             </form>
    	</div>

    	<div ng-if="!user">
    		<h4><a href="/login">LOG IN</a> or <a href="/signup">SIGN UP</a> to save & track your teams!</h4>
    	</div>
	</div>

</main>