<header>
	<nav>
		<ul>
			<li><a  href="/">home</a>
			<li ng-if='!user'><a href="/signup">Sign Up</a>
			<li ng-if='!user'><a href="/login">Log In</a>
			<li ng-if='user'><a href="/teams">Your Teams</a>
			<li id="profile" ng-if='user'><a class="active" href="/user/{{user._id}}/profile">Profile</a>
				<div id="dropdown1" class="dropdown"><a href="/user/{{user._id}}/profile">Profile</a></div>
				<div id="dropdown2" class="dropdown"><a href="/" ng-click='logoutUser()'>Logout</a></div>
			</li>
		</ul>
	</nav>
</header>

<section id="all-teams-wrapper">
	<H1 ng-if="user">{{user.username}}'s Profile</h1>

	<h1>About Me:</h1>
	{{UserCtrl.about}}


	<h1>Main Champ</h1>
	{{UserCtrl.main}}

	<h1>Main Lane</h1>
	{{UserCtrl.lane}}


	<a href="/user/{{user._id}}/profile/edit">Edit Profile</a>
	<button ng-click="UserCtrl.showEdit()">Edit Profile</button>



	<form ng-if="UserCtrl.show">
		<input type="text" ng-model="UserCtrl.about" placeholder="About me...">
		<input type="text" ng-model="UserCtrl.main" placeholder="Main Champ">
		<input type="text" ng-model="UserCtrl.lane" placeholder="Main Lane">
		<button ng-click='UserCtrl.editUser()'>Edit</button>
	</form>


	<button ng-if='user' ng-click='UserCtrl.deleteUser()' ng-class="locations-button">DELETE YOUR ACCOUNT</button>

<section>