<div id="profile-wrapper">
	<header>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li ng-if='!user'><a href="/signup">sign up</a></li>
				<li ng-if='!user'><a href="/login">log in</a></li>
				<li><a href="/teams">my teams</a></li>
				<li id="profile" ng-if='user'><a class="active" href="/user/{{user._id}}/profile">profile</a>
					<div id="dropdown1" class="dropdown"><a href="/user/{{user._id}}/profile">my profile</a></div>
					<div id="dropdown2" class="dropdown"><a href="/" ng-click='logoutUser()'>logout</a></div>
				</li>
				<li><a href="/about">about</a></li>
			</ul>
		</nav>
	</header>

	<H1 id="title" ng-if="user">{{user.username | uppercase }}'S PROFILE</h1>

</div>

<section id="all-teams-wrapper">
		
	<div id="profile-div">
		<h1>About Me:</h1>
		<p>{{UserCtrl.aboutme}}</p>


		<h1>Main Champ</h1>
		<p>{{UserCtrl.mainchamp}}</p>

		<h1>Main Lane</h1>
		<p>{{UserCtrl.mainlane}}</p>

		<br><br>
		<button ng-click="UserCtrl.showEdit()">Edit Profile</button><br>


		<div class="form-style-8"  ng-if="UserCtrl.show">

			<h2> Edit your profile. Be glorious. </h2>

			<form>
				<input type="text" ng-model="UserCtrl.about" placeholder="About me...">
				<input type="text" ng-model="UserCtrl.main" placeholder="Main Champ">
				<input type="text" ng-model="UserCtrl.lane" placeholder="Main Lane">
				<button ng-click='UserCtrl.editUser()'>Save Changes</button>
			</form>
		</div>
		<br>
	</div>
	<br>
	<br>
	<button ng-if='user' ng-click='UserCtrl.deleteUser()' ng-class="locations-button">DELETE YOUR ACCOUNT</button>

<section>