<div id="user-team-wrapper">	
	<header>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li ng-if='!user'><a href="/signup">sign up</a></li>
				<li ng-if='!user'><a href="/login">log in</a></li>
				<li><a  class="active" href="/teams">my teams</a></li>
				<li id="profile" ng-if='user'><a href="/user/{{user._id}}/profile">profile</a>
					<div id="dropdown1" class="dropdown"><a href="/user/{{user._id}}/profile">my profile</a></div>
					<div id="dropdown2" class="dropdown"><a href="/" ng-click='logoutUser()'>logout</a></div>
				</li>
				<li><a href="/about">about</a></li>
			</ul>
		</nav>
	</header>

	<H1 id="title" ng-if="user">{{user.username | uppercase }}'S TEAMS</h1>
	<br><br>
	<span>Search Your Teams</span>
	<input type="text" ng-model="searchBox" id="searchbar">

</div>

<section ng-controller="TeamController as TeamCtrl">


	<div id="user-teams">
		<div id="no-teams" ng-if="TeamCtrl.teams.length == 0">
			You have no teams!
			<a href="/home"> Let's get started.</a>
		</div>

		<div ng-repeat="team in TeamCtrl.teams | filter:searchBox track by $index" id="{{team.name}}">
			<h1> {{team.name}} </h1>

			<div class="team-images animated fadeInUp" >
				<img ng-repeat="champ in team.champ " src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champ}}_0.jpg">
			</div>
			
			<div id="part1">
		        Armor: {{formatNumber(team.stats.armor)}}<br>
		        Armor Per Level: {{formatNumber(team.stats.armorperlevel)}}<br>
		        Attack Damage: {{formatNumber(team.stats.attackdamage)}}<br>
				Attack Damage per Level: {{formatNumber(team.stats.attackdamageperlevel)}}<br>
				Attack Range: {{formatNumber(team.stats.attackrange)}}<br>
				Attack Speed Offset: {{formatNumber(team.stats.attackspeedoffset)}}<br>
				Attack Speed Per Level: {{formatNumber(team.stats.attackspeedperlevel)}}<br>
				Crit: {{formatNumber(team.stats.crit)}}<br>
				Crit per level: {{formatNumber(team.stats.critperlevel)}}<br>
				HP: {{formatNumber(team.stats.hp)}}<br>
			</div>
			<div id="part2">
				HP per Level: {{formatNumber(team.stats.hpperlevel)}}<br>
				HP Regen: {{formatNumber(team.stats.hpregen)}}<br>
				HP Regen per Level: {{formatNumber(team.stats.hpregenperlevel)}}<br>
				Movement Speed: {{formatNumber(team.stats.movespeed)}}<br>
				MP: {{formatNumber(team.stats.mp)}}<br>
				MP per Level: {{formatNumber(team.stats.mpperlevel)}}<br>
				MP Regen: {{formatNumber(team.stats.mpregen)}}<br>
				MP Regen Per Level: {{formatNumber(team.stats.mpregenperlevel)}}<br>
				Spell Block: {{formatNumber(team.stats.spellblock)}}<br>
				Spell Block per Level: {{formatNumber(team.stats.spellblockperlevel)}}
			</div>
			<div id="edit-team">

				<form name="edit-team-form">
	                <span class="team-name">EDIT TEAM NAME: </span>
	                <input type='text' ng-model="TeamCtrl.name[$index]" placeholder='New Team Name'>
	                <button ng-click='TeamCtrl.editTeam(team._id, $index)'>Edit</button>
	                <button ng-click='TeamCtrl.deleteTeam(team._id, $index)'>Delete</button>
	            </form>
            </div>
		</div>
		

	</div>

</section>

