	<header>
		<nav>
			<ul>
				<li><a href="/">home</a>
				<li ng-if='!user'><a href="/signup">Sign Up</a>
				<li ng-if='!user'><a class="active" href="/login">Log In</a>
				<li ng-if='user'><a href="/teams">Your Teams</a>
				<li ng-if='user'><a href="/" ng-click='logoutUser()'>Logout</a></li>
				<li ng-if='user'><a href="/user/{{user._id}}/profile">Profile</a></li>
			</ul>
		</nav>
	</header>


<form id='userLogin'>

	<h2>Welcome, Summoner!</h2>
	<h3>E-mail:</h3><br/>
	<input type='text' ng-model='email' id='email' placeholder='name@email.com'/><br/>
	<h3>Password:</h3><br/>
	<input type='password' ng-model='password' id='password' placeholder='password'/><br/>
	<button ng-click='loginUser()' ng-hide="userLogin">Login</button>
</form>